<!-- Modal -->
<div class="modal fade" id="grade_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<!-- modal内容 -->
    	<div class="modal-body" id="player_modal_body">
				<div style="padding: 10px 30px;">
					<h4>提交后则无法修改说课比赛评分，本次评分为89分，是否确认提交？</h4>
					<h4>
						<%= link_to "确定", class: "btn btn-danger btn-xs btn-show pull-left" %>
						<button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
					</h4>
				</div>
    	</div>
    </div>
  </div>
</div>