<% if title == 'target' %>
	<!-- modal标题 -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h3 class="modal-title text-center" id="myModalLabel">课程定位目标</h3>
	</div>
	<!-- modal内容 -->
	<div class="modal-body" id="player_modal_body">
		<h5>1．清晰说明课程定位，在人才培养工作中的地位、任务。</h5>
		<h5>2．课程教学目标、内容及要求清晰、准确。</h5>
	</div>
<% elsif title == 'content' %>
	<!-- modal标题 -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <h3 class="modal-title text-center" id="myModalLabel">课程内容</h3>
	</div>
	<!-- modal内容 -->
	<div class="modal-body" id="player_modal_body">
		<h5>1．解说本课程的内容体系，课程内容的框架结构，内容的逻辑关系；内容呈现方式体现数字化、媒体化，传输方式网络化。</h5>
		<h5>2．知识点和知识应用点明确，有助于课程目标的达成，教案规范、完整、突出信息化教学特点。</h5>
		<h5>3．教学重点、难点确定准确，分析比较透彻，确定的依据充分，教学过程中选用多媒体素材适当，表现方式合理。</h5>
	</div>
<% elsif title == 'plan' %>
	<!-- modal标题 -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h3 class="modal-title text-center" id="myModalLabel">课程教学设计</h3>
	</div>
	<!-- modal内容 -->
	<div class="modal-body" id="player_modal_body">
		<h5>1．课程设计理念新，指导思想明确，符合高职教育理念。</h5>
		<h5>2．学时数分配合理，信息技术、信息资源在教学中应用恰当；图、文、音、视、动画等多媒体形式运用合理。</h5>
		<h5>3．教学内容和环节设计符合教学目标要求；合理充分利用信息技术和信息资源优化教学过程，教学策略得当。</h5>
		<h5>4．运用信息技术解决重难点问题或者完成特定教学任务的作用突出，体现“做中教、做中学”；案例充实恰当，重点突出，有利于促进学生自主学习和主动学习。</h5>
		<h5>5．评价考核方式合理、灵活、恰当，符合教学课程标准要求；平时评价考核与集中评价考核相结合，教师评价与学生评价相结合。</h5>
		<h5>6．立意新颖，构思独特，设计巧妙；适用于实际教学，有推广性。</h5>
	</div>
<% else %>
  <!-- modal标题 -->
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	<h3 class="modal-title text-center" id="myModalLabel">表达与教态</h3>
  </div>
  <!-- modal内容 -->
  <div class="modal-body" id="player_modal_body">
  	<h5>1.教态自然，仪表端庄大方。</h5>
  	<h5>2.语言准确，表达清晰流畅。</h5>
  	<h5>3.有说课提纲，并符合说课的基本要求。</h5>
  	<h5>4.按规定时间完成，不超时。</h5>
  </div>
<% end %>
