<div class="row border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <% if current_administrator %>
          <%= link_to destroy_administrator_session_path, :method => :delete do |i| %>
            <i class="fa fa-sign-out"></i>退出
          <% end %>
        <% else %>
          <%= link_to new_administrator_session_path, :method => :delete do |i| %>
            <i class="fa fa-sign-out"></i>登录
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>2015上海市高等职业院校教师教学信息化说课比赛</h2>
    <ol class="breadcrumb">
      <li>
        <a>This is</a>
      </li>
      <li class="active">
        <strong>
          <% if params[:controller] == "admin/players" %>
            参赛选手信息
          <% end %>
          <% if params[:controller] == "admin/judges" %>
            评委信息
          <% end %> 
          <% if params[:controller] == "admin/administrators" %>
            管理员信息   
          <% end %>  
        </strong>
      </li>
    </ol>
  </div>
</div>