<% content_for :title do %>
  比赛说明
<% end %>

<%= render partial: "share/banner" %>

<div class="wrap">
	<h3 class="dark-purple">比赛说明</h3>
	<p class="text-justify">01、比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明</p><br>	
	<p class="text-justify">01、比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明</p><br>	
	<p class="text-justify">01、比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明比赛说明</p><br>
	<%= link_to players_path do %>
		<button class="btn btn-default btn-lg mbtn">进入大赛</button>
	<% end %>
	<p class="text-center turn-back">
		<%= link_to "返回上一页", "javascript: void(0);" %>
	</p>	
</div>


