<!-- modal标题 -->
<div class="modal-header">
  <h3 class="modal-title text-center" id="myModalLabel"><%= player.id %> <%= player.name %></h3>
</div>
<!-- modal内容 -->
<div class="modal-body text-center" id="player_modal_body">
	<h4>最高评分：分</h4>
	<h4>最低评分：分</h4>
	<h4>平均评分：分</h4>
	<h4>评分人数：人</h4>
</div>