/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ./application/.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

body{
	background-color: $body-bg;
}

.wrap{
	padding: 0 20px 20px;
	height: 100%;
}
.suport {
	margin-top: 30px;
	color: #314051;
}
.mbtn, .mbtn:visited, .mbtn:hover, .mbtn:active, .mbtn:focus{
	background-color: $dark-purple;
	border: 2px solid $purple;
	border-radius: 3px;
	color: $white;
	letter-spacing: 3px;
	width: 100%;
	height: 45px;
	line-height: 35px;
	padding: 3px;
	font-size: 20px;
	text-align: center;
	display: block;
	text-decoration: none;
}

//文字颜色
.dark-purple{
	color: $dark-purple;
}
.red{
	color: $red;
}

.turn-back{
	width: 100%;
	line-height: 30px;
	a{
		text-decoration: underline;
		color: #333;
		font-size: 16px;
	}
}