@import "variables";
.grades{
	padding: 15px 20px 0;
	.grade-range{
		padding-bottom: 20px;
		p{
			margin-bottom: 5px;
			font-weight: bold;
		}
		::-webkit-slider-runnable-track {
			border: 1px solid $range-border;
			background-color: $white;
			height: 15px;
		}
		input[type="range"] {
			-webkit-appearance: none;
		}
		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			cursor: default;
			top: -5px;
			height:20px;
			width: 20px;
			transform: translateY(-4px);
			background: none repeat scroll 0 0 $purple;
			border-radius: 15px;
			-webkit-box-shadow: 0 -1px 1px black inset;
		}
	}
}

// 提交分数按钮
.btn-ensure{
	border: 1px solid $dark-purple;
	border-radius: 8px !important;
	padding: 5px 24px !important;
	background-color: $purple;
}
.btn-cancel{
	border: 1px solid $dark-purple;
	color: $dark-purple;
	border-radius: 8px !important;
	padding: 5px 24px !important;
}